@page "/login"
@layout EmptyLayout


<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Sign in to start your session</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <EditForm Model="loginModal" OnValidSubmit="UserLogin">
                    <DataAnnotationsValidator />
                <div class="input-group mb-3">
                    <InputText @bind-Value="loginModal.UserName" class="form-control"
                               placeholder="UserName" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <ValidationMessage For="@(() => loginModal.UserName)" class="is-invalid" />
                </div>
                <div class="input-group mb-3">
                    <InputText @bind-Value="loginModal.Password" class="form-control" placeholder="Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <ValidationMessage For="@(() => loginModal.Password)" />
                </div>
                <div class="row">
                    <div class="col-12">
                        <button disabled="@loading" type="submit" class="btn btn-primary btn-block">
                            @if (loading)
                            {
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                            }
                            Sign In
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </EditForm>
            <p class="mb-1">
                <a href="#">I forgot my password</a>
            </p>
            <p class="mb-0">
                <a href="/signup" class="text-center">Sign Up</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

