<h3>GrandComponent</h3>

<h1>Theme : @theme</h1>
@if (currentUser != null)
{
    <h1>Name @currentUser.Name</h1>
    <h1>Role @currentUser.Role</h1>
}
--------------------------------
@code {
    [CascadingParameter]
    public User currentUser { get; set; }

    [CascadingParameter]
    private string theme { get; set; }
}
