################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorCRMApp/.vs
/.vs
/BlazorCRMApp/src/Shared/Shared.Lib/obj/Debug/net8.0/Shared.Lib.AssemblyInfo.cs
/BlazorCRMApp/src/Shared/Shared.Lib/obj/Debug/net8.0/Shared.Lib.AssemblyInfoInputs.cache
/BlazorCRMApp/src/Shared/Shared.Lib/obj/Debug/net8.0/Shared.Lib.assets.cache
/BlazorCRMApp/src/Web/Blazor.Web/Components/Pages/AccessDenied.razor
