@inherits LayoutComponentBase

<div class="main">
    <main>
        @Body
        <FluentToastProvider />
        <FluentDialogProvider />
        <FluentTooltipProvider />
        <FluentMessageBarProvider />
        <FluentMenuProvider />
    </main>
</div>
