@page "/account/signup"
@layout Blazor.Web.Components.Layout.EmptyLayout


<div class="container mt-5">
    <h2>Registration Form</h2>
    <hr />

    <EditForm Model="@registrationModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary/>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="firstName" class="form-label">First Name *</label>
                <InputText id="firstName" class="form-control" @bind-Value="registrationModel.FirstName" required />
            </div>
            <div class="col-md-4">
                <label for="lastName" class="form-label">Last Name *</label>
                <InputText id="lastName" class="form-control" @bind-Value="registrationModel.LastName" required />
            </div>
            <div class="col-md-4">
                <label for="dob" class="form-label">Date Of Birth</label>
                <InputDate id="dob" class="form-control" @bind-Value="registrationModel.Dob" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="email" class="form-label">Email Address *</label>
                <InputText id="email" type="email" class="form-control" @bind-Value="registrationModel.Email" required />
            </div>
            <div class="col-md-4">
                <label for="mobile" class="form-label">Mobile No *</label>
                <InputText id="mobile" class="form-control" @bind-Value="registrationModel.Mobile" required />
            </div>
            <div class="col-md-4">
                <label for="password" class="form-label">Password *</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="registrationModel.Password" required />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-8">
                <label for="address" class="form-label">Address *</label>
                <InputText id="address" class="form-control" @bind-Value="registrationModel.Address" required />
            </div>
            <div class="col-md-4">
                <label for="zip" class="form-label">Zip Code *</label>
                <InputText id="zip" class="form-control" @bind-Value="registrationModel.ZipCode" required />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
               
            </div>
            <div class="col-md-4">
                <label for="state" class="form-label">State *</label>
                <InputSelect id="state" class="form-select" @bind-Value="registrationModel.StateId" required>
                    <option value="">Select</option>
                    <option value="1">New York</option>
                    <option value="2">California</option>
                </InputSelect>
            </div>
            <div class="col-md-4">
                <label for="city" class="form-label">City *</label>
                <InputSelect id="city" class="form-select" @bind-Value="registrationModel.City" required>
                    <option value="">Select</option>
                    <option value="NYC">New York City</option>
                    <option value="LA">Los Angeles</option>
                </InputSelect>
            </div>
        </div>

        <div class="mb-3">
            <label for="timeZone" class="form-label">Time Zone</label>
            <InputSelect id="timeZone" class="form-select" @bind-Value="registrationModel.TimeZone">
                <option value="">Select</option>
                <option value="GMT-5">GMT-5</option>
                <option value="GMT+0">GMT+0</option>
            </InputSelect>
        </div>

        @*  <div class="mb-3">
        <label for="profilePicture" class="form-label">Profile Picture</label>
        <InputFile id="profilePicture" class="form-control" OnChange="@OnInputFileChange" />
        </div> *@

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Submit</button>
            @* <button type="button" class="btn btn-secondary" @onclick="BackToLogin">Back to Login</button> *@
        </div>
    </EditForm>
</div>